@import "tailwindcss";

:root {
  --font-sans: 'Inter', system-ui, sans-serif;
  --bg-primary: #0f172a;
  --text-primary: #f8fafc;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Add this Custom Animation */
@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}