@import "tailwindcss";

:root {
  --font-sans: 'Inter', system-ui, sans-serif;
  --bg-primary: #0f172a; /* Slate 900 */
  --text-primary: #f8fafc; /* Slate 50 */
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-sans);
  overflow-x: hidden;
}